# I have scraped all ball by ball information from the cricinfo website for this project

In [ ]:
import pandas as pd

In [4]:
df=pd.read_csv('BALL_BY_BALL.csv')

In [6]:
df.head()

,MATCH_NUMBER,GROUND,DATE,INN,BALL,RUNS,BOWLER_ID,BOWLER_NAME,BOWLER_TEAM,BATSMEN_ID,BATSMEN_NAME,BATSMEN_TEAM,OUT,TYPE,SPEED
0,1001349,Melbourne Cricket Ground,Feb 17 2017,1,0.1,0,49758,Lasith Malinga,Sri Lanka,5334.0,Aaron Finch,Australia,False,NaN,NaN
1,1001349,Melbourne Cricket Ground,Feb 17 2017,1,0.2,0,49758,Lasith Malinga,Sri Lanka,5334.0,Aaron Finch,Australia,False,NaN,NaN
2,1001349,Melbourne Cricket Ground,Feb 17 2017,1,0.3,1,49758,Lasith Malinga,Sri Lanka,5334.0,Aaron Finch,Australia,False,NaN,NaN
3,1001349,Melbourne Cricket Ground,Feb 17 2017,1,0.4,2,49758,Lasith Malinga,Sri Lanka,6161.0,Michael Klinger,Australia,False,NaN,NaN
4,1001349,Melbourne Cricket Ground,Feb 17 2017,1,0.5,0,49758,Lasith Malinga,Sri Lanka,6161.0,Michael Klinger,Australia,False,NaN,NaN

## New features will be calculated from the above data to create and train the model